.main {
  min-height: 100vh;
}

.aboutContainer {
  margin: auto;
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 600px;
  min-width: 360px;
}

.aboutContainer :nth-child(2) {
  margin-top: 40px;
}

.link {
  color: #FF1A20;
}

.textContainer {
  margin: 10px;
  text-align: center;
}

@media (max-width: 700px) {
  .main {
    font-size: 14px;
  }

  .aboutContainer {
    width: 90%;
  }
}