.main {
  min-height: 100vh;
}

.mainContentWrapper {
  width: 60%;
  min-width: 350px;
  margin: auto;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cardWrapper {
  margin: 15px;
}

.buttonContainer {
  margin: auto;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.buttonContainer > button {
  background-color: #FF1A20;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.buttonContainer > button:disabled {
  background-color: #8c8485;
}